.topics {
  margin-bottom: 15px;
}
.topics > span {
  margin-left: 5px;
  background-color: rgba(63, 81, 181, 0.5);
  border-radius: 5px;
  padding: 3px;
}
.info span {
  color: rgba(63, 81, 181, 0.87);
}
