<mat-expansion-panel [style.margin-bottom.px]="5" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{repository.full_name}}</mat-panel-title>
    <mat-panel-description>
      <div *ngIf="panelOpenState; else repositoryInfo"></div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{repository.description}}</p>
  <div class="topics">
    <span *ngFor="let topic of repository.topics">{{topic}}</span>
  </div>
  <div class="info">
    <div *ngIf="repository.language">Language: <span>{{repository.language}}</span></div>
    <div>Star: <span>{{repository.stargazers_count}}</span></div>
    <div>Create: <span>{{repository.created_at.slice(0, 10)}}</span></div>
  </div>
</mat-expansion-panel>

<ng-template #repositoryInfo>
  {{repository.language}}
</ng-template>

